html, body {
  height: 100%;
}

body {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block;
}
.map-container img {
  width: 100%;
}
.map-container .point {
  cursor: pointer;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all .3s ease;
  will-change: transform, box-shadow;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(0, 172, 193, 0.4);
  animation: pulse 3s infinite;
}
.map-container .point:hover {
  animation: none;
  transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}




.map-container .venezuela {
  top: 54%;
  left: 24%;
}
.map-container .albion {
  top: 80%;
  left: 91%;
}
.map-container .argentina {
  top: 77%;
  left: 27%;
}
.map-container .farnham {
  top: 23%;
  left: 45%;
}
.map-container .california {
  top: 35%;
  left: 8%;
}
.map-container .portland {
  top: 28%;
  left: 9%;
}
.map-container .virginia {
  top: 32%;
  left: 22%;
}
.map-container .arabia {
  top: 40%;
  left: 53%;
}
.map-container .amsterdam {
  top: 24%;
  left: 47%;
}
.map-container .rusia {
  top: 16%;
  left: 67%;
}
.map-container .china {
  top: 40%;
  left: 72%;
}
.map-container .tokyo {
  top: 34%;
  left: 86%;
}
.map-container .australia {
  top: 72%;
  left: 86%;
}
.map-container .bavaria {
  top: 25%;
  left: 48%;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0.5);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(0, 172, 193, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0);
  }
}